<html>
    <header>
        <title>Chatroom</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/index.css" rel="stylesheet" type="text/css"/>
    </header>
    <body>
        <h1>Hello <%= name %></h1>

        <div id="box">
            <div id="chat">
                <ul id="msgBox"></ul>
            </div>
            <div id="chatbox">
                <form action="">
                    <input id="msg" type="text" name="msg" required placeholder="Enter message here" autocomplete="off"/>
                    <button type="submit" >Send</button>
                </form>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script>
            $('form').submit((e) => {
                e.preventDefault();
                $('#msgBox').append($('<li id="lst">').text('You: ' + $('#msg').val()));
                $('#msg').val(''); 
            });
        </script>

    </body>

</html>