<html>
    <header>
        <title>Chatroom</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/index.css" rel="stylesheet" type="text/css"/>
    </header>
    <body>
        <form action="/logout" method="POST" id="logoutForm">
            <input type="submit" value="Logout" id="logout">
        </form>
        <div id="box">
            <div id="chat">
                <ul id="msgBox">
                </ul>
            </div>
            <div id="chatbox">
                <form action="" id="msgForm">
                    <label for="msg" id="msglbl">C:\Users\<%= name %>></label>
                    <input id="msg" type="text" name="msg" required placeholder="" autocomplete="off"/>
                </form>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            var socket = io();
            socket.emit('joining msg', `<%= name %>`);

            $('#msgForm').submit((e) => {
                e.preventDefault();
                socket.emit('chat message', (`<%= name %>` + ':  ' + $('#msg').val()));
                $('#msgBox').append($('<li class="left">').text('You: ' + $('#msg').val()));
                $('#msg').val('');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });

            socket.on('chat message', function(msg){
      			$('#msgBox').append($('<li class="right">').text(msg));
    		});
        </script>

    </body>

</html>