<html>
    <header>
        <title>Chatroom</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/index.css" rel="stylesheet" type="text/css"/>
    </header>
    <body>

        <div id="box">
            <div id="chat">
                <ul id="msgBox">
                    <li class="right">John: hi</li>
                    <li class="right">Jimmy: hellooo</li>
                </ul>
            </div>
            <div id="chatbox">
                <form action="">
                    <input id="msg" type="text" name="msg" required placeholder="Enter message here" autocomplete="off"/>
                    <button type="submit" id="btnSubmit">Send</button>
                </form>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script>
            $('form').submit((e) => {
                e.preventDefault();
                $('#msgBox').append($('<li class="left">').text('You: ' + $('#msg').val()));
                $('#msg').val('');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
        </script>

    </body>

</html>