* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 25px;
    background-color: rgb(224, 253, 255);
}

#box {
    position: absolute;
    /* background-color: rgb(58, 73, 73); */
    background-color: black;
    width: 50%;
    min-height: 100%;
    border: 2px solid black;
    padding: 15px;
    margin: auto;
    word-wrap: break-word;
    overflow-y: auto;

    bottom: 0;
    left: 25%;
}


.left {
    padding: 5px;
    list-style: none;
    color: white;
    text-align: left;
}

.right {
    padding: 5px;
    list-style: none;
    color: aquamarine;
    text-align: right;
}

#chat {
    position: absolute;
    max-height: 93%;
    min-width: 96%;
    max-width: 96%;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    list-style: none;
}

#chatbox {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: auto;
    min-width: 95%;
    min-height: 45px;
}

#msg {
    position: relative;
    width: 75%;
    height: 30px;
    color: white;
    background-color: black;
}

#msglbl {
    font-size: 20px;
    color: white;
}

#btnSubmit {
    height: 30px;
}

@font-face {
    font-family: "terminal";
    src: url("../fonts/Modeseven-L3n5.ttf") format("truetype");
}

.right {
    font-family: "terminal";
}

.left {
    font-family: "terminal";
}

#logout {
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "terminal";
}

#logoutForm {
    margin: 25px;
}