* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 20px;
    background-color: darkolivegreen;
}

#box {
    background-color: darkslategrey;
    max-width: 275px;
    max-height: 515;
    min-height: 525;
    border: 2px solid black;
    padding: 15;
    word-wrap: break-word;
    overflow-y: auto;
}


ul li {
    padding: 5px;
    list-style: none;
    color: white;
}

#chat {
    max-height: 480px;
    overflow-y: auto;
    list-style: none;
}

#chatbox {
    position: fixed;
    top: 530px;
    background-color: black;
    padding: 2px;
    margin: 6px;
    text-shadow: 10px 10px;
}