@font-face {
    font-family: "terminal";
    src: url("../fonts/Modeseven-L3n5.ttf") format("truetype");
}

.specialfont {
    font-family: "terminal";
}


body {
    background: linear-gradient(
        to  bottom left,
        rgb(101, 182, 236),
        rgb(12, 68, 73)
    );
}

h1 {
    font-size: 100px;
    color: rgb(222, 245, 185);
    text-shadow: 3px 3px 0px black, -2.5px -2.5px 0px black;
}

.left {
    padding: 5px;
    list-style: none;
    color: white;
    text-align: left;
    font-family: "terminal";
    text-shadow: 2px 2px black;
}

.right {
    padding: 5px;
    list-style: none;
    color: aquamarine;
    text-align: right;
    font-family: "terminal";
    text-shadow: 2px 2px black;
}

.box {
    border-width: 5px;
    border-style: solid;
    font-size: 21px;
    border-image: linear-gradient(
        to left,
        darkblue,
        rgb(0, 146, 97)
    )1;
    background: linear-gradient(
        to bottom left,
        rgb(0, 146, 97),
        darkblue
    );
}